@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.carousel-container {
    overflow: hidden;
    position: relative;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}
.ObjectifsPedagogique::-webkit-scrollbar{
    display: none;
}



.logo-scroller {
    display: flex;
    animation-delay: 100s;
    animation: scroll 10s linear infinite;
    width: calc(200%);
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(0);

    }

    50% {
        transform: translateX(calc(-100% / 2));
    }

    75% {
        transform: translateX(calc(-100% / 2));
    }
}

.Comments-container {
    overflow-x: clip;
    position: relative;
    width: 80%;
    margin-left: 10%;
    margin-right: 10% !important;
}

.Comments_scroller {
    display: flex;
    animation-delay: 100s;
    animation: scrollComment 10s linear infinite;
    width: calc(200%);
}

@keyframes scrollComment {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(0);

    }

    50% {
        transform: translateX(calc(-100% / 2));
    }

    75% {
        transform: translateX(calc(-100% / 2));
    }

}

.Herosection_Text_Title {
    font-family: Montserrat;
}

.Header-text {
    background-color: rgb(7 19 35);
}

.Header-text:hover {
    background-color: rgb(42, 133, 171);
}


 .Header_Box_border:hover{
    background-color:rgb(42,133,171) !important;
} 
.user-page {
    background-color: #071323;
}

.Herosection_firstcomp {
    position: relative;
    text-align: center;
}

.Herosection_Text {
    position: absolute;
    top: 0%;
    left: 0%;
}

footer {
    background-color: #0C1827;
    display: flex;
    justify-content: center;
    width: 100%;
}

footer .footer-container {
    width: 1440px;
    padding-top: 2%;
    flex-wrap: wrap;
}

.footer-list li {
    font-size: 16px;
    list-style: none;
    color: #ffffff;
}

.footer-icons-container {
    width: 325px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.footer-icons-container-size {
    margin-top: 5px;
    height: 40px;
    width: 40px;
    background-color: #39DDF5;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-partenaires-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #ffffff;
    flex-wrap: wrap;
}

.financer-text-background {
    background: url('../backgrounds/FinamcementBackground.png');
    background-position: center;
    background-repeat: no-repeat;
    width: 548px;
    color: #ffffff;
}

.financer-text-background div {
    display: flex;
    justify-content: center;
}

.financer-text-background :nth-child(1) h2 {
    font-family: 'Montserrat';
}

.financer-text-background div p {
    font-family: 'Montserrat';
    font-size: 20px;
}


.school-text-background div p {
    font-family: 'Montserrat';
    font-size: 18px;
}

.hero_main_section {
    width: 87.333333% !important;
}

.profils-background,
.second-contact-background {
    background: url('../backgrounds/FinamcementBackground-v2.png') center center;
    opacity: 20%;
    width: 100%;
    height: 82px;
    background-size: cover;
    position: relative;
}

.button-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.drop-down-style {
    border-bottom: 2.35px solid #39DDF5;
}

.drop-down-style img {
    margin-left: -15px;
}

.contact-first-section-container .contact-first-section-img {
    width: 100%;
    height: 513px;
    display: flex;
    justify-content: center;
}

.contact-first-section-container .contact-first-section-title {
    top: 0;
    width: 100%;
    height: 513px;
    position: absolute;
    display: flex;
    align-items: center;
}

.contact-first-section-container .contact-first-section-title h2 {
    text-shadow:
        -1.5px -1.5px 0 #000,
        1.5px -1.5px 0 #000,
        -1.5px 1.5px 0 #000,
        1.5px 1.5px 0 #000;
}

.reconversion-first-section-container .reconversion-first-section-img {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
}

.reconversion-first-section-container .reconversion-first-section-title {
    top: 0;
    width: 100%;
    height: 200px;
    position: absolute;
    display: flex;
    align-items: center;
}

.reconversion-first-section-container .reconversion-first-section-title h2 {
    text-shadow:
        -1.5px -1.5px 0 #000,
        1.5px -1.5px 0 #000,
        -1.5px 1.5px 0 #000,
        1.5px 1.5px 0 #000;
}

.contact-text-background {
    background: url('../backgrounds/ContactBackground.png') center center;
    opacity: 20%;
    width: 100%;
    height: 112px;
    background-size: cover;
    position: relative;
}

.contact-text-container,
.second-contact-background-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-text-container h2 {
    text-align: center;
    width: 44%;
}

.reservation-calendar-section {
    margin-bottom: 4rem;
}

.reservation-container div .reservation-container-first-section div {
    border-color: rgb(71, 90, 116);
    background-color: rgb(208, 209, 211);
}

.reservetion-times-container {
    overflow: auto;
}

.informations-section-parent-container{
    border-top: 3px solid #39DDF5;
}

.informations-section-parent-container .teaching-method-right-section .background-gradiant-div {
    width: 93%;
    height: 781px;
    background: linear-gradient(to bottom, #1197BE, #39DDF5);
    border-radius: 20px;
    padding: 2px;
}

.informations-section-parent-container .teaching-method-right-section .background-gradiant-div  .content-div,
.informations-section-parent-container .teaching-method-left-section .background-gradiant-div-1 .content-div, 
.informations-section-parent-container .teaching-method-left-section .background-gradiant-div-2 .content-div {
    width: 100%;
    height: 100%;
    background-color: #071323;
    border-radius: 20px;
}

.informations-section-parent-container .teaching-method-left-section .background-gradiant-div-1 {
    width: 93%;
    height: 331px;
    background: linear-gradient(to bottom, #1197BE, #39DDF5);
    border-radius: 20px;
    padding: 2px;
}

.informations-section-parent-container .teaching-method-left-section .background-gradiant-div-2 {
    width: 93%;
    height: 400px;
    background: linear-gradient(to bottom, #1197BE, #39DDF5);
    border-radius: 20px;
    padding: 2px;   
}

.cadre-reglementaire-container {
    height: auto;
    display: flex;
    justify-content: center;
}

.cadre-reglementaire-container .background-gradiant-div {
    width: 97%;
    background: linear-gradient(to bottom, #1197BE, #39DDF5);
    border-radius: 20px;
    padding: 2px;
}

.cadre-reglementaire-container .background-gradiant-div .background-color-div {
    width: 100%;
    height: 100%;
    background-color: #071323;
    border-radius: 20px;
}

@media only screen and (max-width: 570px) {
    footer .footer-container .icon-container {
        width: 90%;
        margin-bottom: 15px;
        padding: 1.7rem;
    }

    .footer-list {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .financement-button-container {
        width: 75%;
        font-size: 1.5rem;
    }

    .financement-button-style {
        width: 100%;
    }

    .img-child-container {
        width: 58%;
    }
}

@media only screen and (max-width: 790px) {
    .footer-icons-container {
        margin-top: 15px;
    }

    .drop-down-style span {
        font-size: 1rem;
        text-align: start;
    }

    .financement-button-style {
        font-size: 1rem;
    }
}

.financement-first-section {
    padding: 80px 0 40px 0;
}

@media only screen and (max-width: 510px) {
    .icon-partenaires {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .footer-partenaires-container {
        flex-direction: column;

    }

    /* .reconversion-first-section-container .reconversion-first-section-title h2 {
        font-size: 30px;
    } */

    .reservations-date-reconversion-container .reservations-date-reconversion {
        width: 90% !important;

    }

    .img-child-container {
        width: 90% !important;
    }
}

@media only screen and (max-width: 922px) {
    /* .financement-first-section {
        display: flex;
        flex-direction: column;
        align-items: center;
    } */

    .edited {
        flex-direction: column-reverse !important;
        margin-bottom: 1rem;
    }

    .financement-first-section .text-child-container {
        width: 90%;
    }

    .drop-down-style span {
        font-size: 1.3rem;
        text-align: start;
    }

    .financer-text-background {
        background: none;
        width: 100%;
    }

    .financement-img-container {
        margin: 20px 0 20px 0;
        width: 100%;
    }
}

@media only screen and (max-width: 1160px) {
    .financement-first-section {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .img-child-container {
        width: 70% !important;
    }

    .financement-img-container {
        display: flex;
        justify-content: center;
        width: 100% !important;
    }
}


@media only screen and (max-width: 620px) {

    .profils-background,
    .second-contact-background {
        display: none;
    }

    .button-container,
    .second-contact-background-text {
        position: initial;
        width: 100%;
    }

    .button-container div {
        flex-direction: column;
    }

    .financement-situation-sections {
        padding: 30px 0 30px 0;
    }

    .img-child-container {
        width: 50%;
    }

    .financement-img-container {
        padding-top: 2rem;
    }

    .contact-first-section-container .contact-first-section-title h2 {
        font-size: 50px;
    }

    .second-contact-background-text {
        padding: 20px 0 20px 0;
    }

    .second-contact-background-text h2 {
        font-size: 1.5rem;
        text-align: center;
    }
}

@media only screen and (max-width: 640px) {
    .contact-first-section-container .contact-first-section-title h2 {
        font-size: 3rem;
    }
    .reconversion-second-section .reconversion-second-section-title, .reconversion-second-section-first-text .font-bold {
        font-size: 23px !important;
        text-align: center !important;
    }

    .reconversion-second-section .reconversion-second-section-text, .reconversion-second-section-text {
        font-size: 20px !important;
    }

    .reconversion-second-section-Right-title, .reconversion-second-section-firstLeft-title, .reconversion-second-section-secondLeft-title {
        font-size: 26px !important;
    }

    .reconversion-second-section-Right-title-2 {
        font-size: 19px !important;
    }
}

@media only screen and (max-width: 460px) {

    .financement-situation-title {
        font-size: 1.5rem;
    }

    .img-child-container {
        width: 70%;
    }

    .reservations-date-reconversion-container .reservations-date-reconversion {
        width: 100% !important;

    }
}

@media (min-width: 1024px) and (max-width: 1179px) {
    .NavbarLinks {
        width: 30% !important;
    }

    .NavbarLinks_menu {
        margin-right: 3px;
    }

    .NavBarLinks_button {
        margin-left: 3%
    }
}

@media (min-width: 1024px) and (max-width: 1169px) {

    .hero_main_section {
        margin-top: auto;

    }

    .Herosection_image {
        margin-left: 10%;
    }

    .HeroSection_Learningbydoing_main {
        width: 100%;
        height: 30vh;
    }

    .HeroSection_Learningbydoing_main_parentImg {
        height: 100% !important;
    }

    .HeroSection_Learningbydoing_main_Img {
        padding: 16%;
    }

    .HeroSection_Learningbydoing_text {
        height: 100%;
        background: text;

    }

    .HeroSection_Learningbydoing_image_container {
        /* background:pink; */
        height: 120%;
        width: 80%;
        display: flex;
        justify-content: center
    }

    .backgroungImg {
        visibility: hidden
    }

    .ImproveUrSkills {
        margin-top: 6%;
    }

    .ImproveUrSkills_main {
        height: 27vh !important;

    }

    .ImproveUrSkills_main_parentImg {
        height: 90% !important;
        width: 83% !important;
    }

    .ImproveUrSkills_svg {
        visibility: hidden;
    }

    .ImproveUrSkills_text {
        height: 100%;
    }

    .ImproveUrSkills_Text_Title_paragraph {
        font-size: 1.125rem;
        line-height: 119%;
    }

    .ImproveUrSkills_Text_Title {
        /* background:green; */
    }

}

@media (min-width: 640px) and (max-width: 900px) {
    .hero_main_section {
        display: flex;
        flex-direction: column;
        height: 36vh;
        margin-left: 0% !important;
        padding-left: 2%;
        padding-right: 2%;
    }

    .Herosection_underbackground_img {
        width: 96vw;
        height: 30vh;
    }

    .ImgdecorationforBackground {
        width: 100%;
        height: 100%;
        object-fit: contain !important;

    }

    .HeroSection_Learningbydoing {
        height: 40vh
    }

    .HeroSection_Learningbydoing_main_parentImg {
        width: 80vw;
        height: 35vh !important;
    }

    .HeroSection_Learningbydoing_main_Img {
        object-fit: contain;
        padding: 9%;
    }

    .HeroSection_Learningbydoing_main {
        height: 100vh !important;
    }

    .Herosection {
        margin: auto !important;
    }

    .Herosection_image {
        visibility: hidden;
    }

    .Herosection_Text {
        width: 100%;
    }

    .ImproveUrSkills {
        height: 36vh !important;
    }

    .ImproveUrSkills_main {
        height: 36vh !important;
    }

    .Comment_parent {
        background: red;
    }

    .Comment_container {
        height: 100% !important;
    }

    .Comments_scroller {
        width: 80vw !important;
        flex-direction: column;
        animation: none;
        justify-content: center;
        align-items: center;

    }

    .Comment_content {
        width: 90% !important;
        height: 60% !important;
    }

    .Commeny_content_text {
        width: 100%;
    }

}


@media (min-width: 640px) and (max-width: 1148px) {

    .logo-scroller {
        display: flex;
        justify-content: between;
        gap: 3.5%;
    }

}

@media (min-width: 854px) and (max-width: 1100px) {

    salima .ImproveUrSkills_main {
        height: 100vh !important;
        margin-bottom: 0%;
    }

    .ImproveUrSkills_image_container {
        width: 100vw !important;
        height: 90vh;

    }

    .ImproveUrSkills_svg {
        visibility: hidden
    }

    .ImproveUrSkills_main_parentImg {
        width: 130%;
        height: 90%;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .ImproveUrSkills_main_Img {
        width: 90vw;
        height: 65vh;
        object-fit: contain;
    }

    .ImproveUrSkills_Text_Title {
        padding-right: 2%;
        padding-left: 2%;
    }

    .ImproveUrSkills_button {
        width: 100%;
        margin: 0;
        display: flex;
        justify-content: center
    }

    .reconversion-second-section-buttons .bg-gradient-to-r {
        width: 75%;
    }
}

@media (min-width: 640px) and (max-width: 900px) {
    .ImproveUrSkills {
        height: 100vh;
    }

    .ImproveUrSkills_svg,
    .ImproveUrSkills_main_parentImg {
        visibility: hidden;
    }

    .ImproveUrSkills_main {
        height: 100%;
    }

    .ImproveUrSkills_text {
        width: 99.5vw;
    }

    .reconversion-first-section-container .reconversion-first-section-title h2 {
        font-size: 35px;
    }

    .reconversion-first-section-container .reconversion-first-section-title {
        height: 50% !important;
    }

    .reconversion-first-section-container {
        height: auto !important;
    }

    .reconversion-second-section .reconversion-second-section-title, .reconversion-second-section-first-text .font-bold, .reconversion-second-section-title {
        font-size: 25px;
        text-align: center;
    }

    .reconversion-second-section .reconversion-second-section-text, .reconversion-second-section-text {
        font-size: 20px !important;
    }
}

@media (min-width: 511px) and (max-width:639.5) {
    .SarenzalLogo_svg {
        width: 55% !important;
    }
}


.ImproveUrSkills_main_parentImg {
    width: 60%;
    height: 100%;
    margin-right: 0%;
    margin-top: 0%;
    display: flex;
    justify-content: center;
}

.ImproveUrSkills_main_parentImg_ecole {
    margin-top: 2% !important;
}

.ImproveUrSkills_main_Img {
    width: 85%;
    object-fit: contain;
}




@media (min-width: 1024px) and (max-width: 1148px) {

    .HeroSection_Learningbydoing_main_parentImg {
        width: 60%;
        height: 130%;

    }

    .HeroSection_Learningbydoing_main_Img {
        height: 100% !important;
        width: 100% !important;
        object-fit: contain;
    }

    .HeroSection_Learningbydoing_main {
        margin-left: 0px;
        margin-right: 0px;
        display: flex;
        justify-content: space-around;

    }

    .Herosection_Text_Title_paragraph {
        width: 90%;
        margin: auto;
        margin-bottom: 2%;
    }

}

@media (min-width: 900px) and (max-width: 1400px) {

    .calendar-container, .reservation-container {
        width: 35% !important;
    }
}

@media (min-width: 610px) and (max-width: 1250px) {
    .contact-text-container h2 {
        width: 60%;
    }
}

@media only screen and (max-width: 609px) {
    .contact-text-container h2 {
        width: 90%;
    }
}

@media only screen and (max-width: 670px) {
    .reservation-calendar-section {
        flex-direction: column;
        align-items: center;
    }

    .calendar-container,
    .reservation-container {
        width: 340px !important;
    }

    .reconversion-first-section-container .reconversion-first-section-title h2 {
        font-size: 30px;
    }

    .reconversion-first-section-container {
        height: auto !important;
    }
}

@media only screen and (max-width: 1250px) {
    .contact-first-section-container {
        position: initial !important;
        height: 150px !important;
    }

    .reconversion-first-section-container {
        position: initial;
        height: 125px;
        display: flex;
        justify-content: center;
    }

    .contact-first-section-container .contact-first-section-img,
    .reconversion-first-section-container .reconversion-first-section-img {
        display: none;
    }

    .contact-first-section-container .contact-first-section-title {
        position: initial;
        height: auto;
        padding: 40px 0 40px 0;
        text-align: center;
        width: 100%;
    }

    .reconversion-first-section-container .reconversion-first-section-title{
        position: initial;
        height: auto;
        padding: 40px 0 5px 0;
        text-align: center;
        width: 90%;
    }

    .contact-first-section-container .contact-first-section-title h2 {
        text-align: center;
    }

    .reservations-date-reconversion {
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media only screen and (max-width: 1050px) {
    .contact-text-background {
        display: none;
    }

    .contact-text-container {
        position: initial;
        padding: 30px 0 30px 0;
    }

    .contact-text-container h2 {
        font-size: 1.5rem;
    }
}

  

@media only screen and (max-width: 460px) {
    .footer-partenaires-container {
        flex-direction: column;
    }
}

.hero-section {
    position: relative;
    height: 100vh;
    padding-top: 120px;
    padding-bottom: 120px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.hero-overlay {
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    inset: 0;
    z-index: 0;
}

.hero-content {
    display: grid;
    max-width: 80%;
    padding: 0 1rem;
    margin: 0 auto;
    z-index: 10;
    position: relative;
}

.hero-title {
    font-size: 2.5rem;
    font-weight: 800;
    color: white;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.hero-text {
    font-size: 1.25rem;
    color: #d1d5db;
}

@media (min-width: 768px) {
    .hero-title {
        font-size: 3rem;
    }

    .hero-text {
        font-size: 1.5rem;
    }
}

@media (min-width: 1024px) {
    .hero-title {
        font-size: 4rem;
    }

    .hero-text {
        font-size: 1.75rem;
    }
}







.hero-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.hero-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.hero-image.visible {
    opacity: 1;
}

.text-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.uppercase {
    text-transform: uppercase;
}

.text-white {
    color: white;
}

.text-7xl {
    font-size: 4.5rem;
}

.font-bold {
    font-weight: bold;
}

.text-container h2 {
    text-shadow:
        -1.5px -1.5px 0 #000,
        1.5px -1.5px 0 #000,
        -1.5px 1.5px 0 #000,
        1.5px 1.5px 0 #000;
}

#bootcamp-section {

    background: url('../backgrounds//FinamcementBackground.png') center center;
    background-repeat: no-repeat;
    width: 75%;
}

.button-border:hover {
    background-color: rgb(42, 133, 171) !important;
}



/*  Responsive Bootcam section */
@media only screen and (max-width: 620px) {

    .profils-background,
    .second-contact-background {
        display: none;
    }

    .button-container,
    .second-contact-background-text {
        position: initial;
        width: 100%;
    }

    .button-container div {
        flex-direction: column;
    }

    .financement-situation-sections {
        padding: 30px 0 30px 0;
    }

    .img-child-container {
        width: 50%;
    }

    .contact-first-section-container .contact-first-section-title h2 {
        font-size: 50px;
    }

    .second-contact-background-text {
        padding: 20px 0 20px 0;
    }

    .second-contact-background-text h2 {
        font-size: 1.5rem;
        text-align: center;
    }
}



@media only screen and (max-width: 620px) {

    .profils-background,
    .second-contact-background {
        display: none;
    }

    .button-container,
    .second-contact-background-text {
        position: initial;
        width: 100%;
    }

    .button-container div {
        flex-direction: column;
    }

    .financement-situation-sections {
        padding: 30px 0 30px 0;
    }

    .img-child-container {
        width: 50%;
    }

    .contact-first-section-container .contact-first-section-title h2 {
        font-size: 50px;
    }

    .second-contact-background-text {
        padding: 20px 0 20px 0;
    }

    .second-contact-background-text h2 {
        font-size: 1.5rem;
        text-align: center;
    }

    .reconversion-second-section-buttons .bg-gradient-to-r {
        width: 100%;
    }

    .reconversion-second-section-buttons {
        flex-direction: column;
        align-items: center;
    }

    .reconversion-second-section-buttons .button-parent-container {
        width: 90% !important;
        margin-bottom: 10px;
    }
}



/*************************************/

@media (min-width: 620px) and (max-width: 854px) {
    .reconversion-second-section-buttons .bg-gradient-to-r {
        width: 90%;
    }
}

@media only screen and (max-width: 1516px) {
    .reservations-date-reconversion {
        width: 49% !important;
    }
}

@media only screen and (max-width: 1111px){
    .informations-section-parent-container .teaching-method-container {
        flex-direction: column;
        align-items: center;
    }

    .informations-section-parent-container .teaching-method-container .teaching-method-right-section {
        justify-content: center;
        padding: 0;
        margin-bottom: 50px;
    }

    .informations-section-parent-container .teaching-method-container .teaching-method-left-section,
    .informations-section-parent-container .teaching-method-container .teaching-method-right-section {
        width: 80% !important;
    }

    .informations-section-parent-container .teaching-method-container .teaching-method-left-section .background-gradiant-div-1{
        margin-bottom: 40px;
    }

    .informations-section-parent-container .teaching-method-container .teaching-method-left-section .background-gradiant-div-1,
    .informations-section-parent-container .teaching-method-container .teaching-method-left-section .background-gradiant-div-2 {
        height: auto;
    }

    .informations-section-parent-container {
        margin-top: 0% !important;
    }

    .informations-section-parent-container .teaching-method-container .teaching-method-left-section .background-gradiant-div-1 .content-div .date-reconversion-container{
        margin-bottom: 2rem !important;
    }

}

@media (min-width: 1111px) and (max-width: 1222px){
    /* .informations-section-parent-container .teaching-method-container .teaching-method-left-section .background-gradiant-div-1 .content-div .date-reconversion-container {
        margin-bottom: 0.5rem;
    } */
}

@media only screen and (min-width: 1222px){
    .informations-section-parent-container .teaching-method-container .teaching-method-left-section .background-gradiant-div-1 .content-div .date-reconversion-container{
        margin-bottom: 2rem !important;
    }
}

@media only screen and (max-width: 693px){
    .reservations-date-reconversion-container {
        flex-direction: column;
        align-items: center;
        gap: 25px;
    }

    .reservations-date-reconversion-container .reservations-date-reconversion {
        width: 70%;
    }

    .reservations-date-reconversion-container .relative {
        padding: 20px 0 20px 0 !important;
    }

    .informations-section-parent-container {
        width: 90% !important;
    }

    .informations-section-parent-container .teaching-method-container .teaching-method-left-section,
    .informations-section-parent-container .teaching-method-container .teaching-method-right-section {
        width: 100% !important;
    }

    .informations-section-parent-container .teaching-method-container .teaching-method-left-section .background-gradiant-div-1,
    .informations-section-parent-container .teaching-method-container .teaching-method-left-section .background-gradiant-div-2,
    .informations-section-parent-container .teaching-method-right-section .background-gradiant-div {
        width: 100% !important;
    }

    /* .informations-section-parent-container .teaching-method-container .teaching-method-left-section .background-gradiant-div-1 .content-div .date-reconversion-container {
        margin-bottom: 2rem !important;
    } */

    .telecharger-le-programme-button {
        padding-left: 0.7rem;
        padding-right: 0.7rem;
    }

    .reconversion-sinscrire-button {
        width: 60% !important;
    }

    .informations-section-parent-container .teaching-method-container .teaching-method-right-section{
        margin-bottom: 30px !important;
    }

    .cadre-reglementaire-container .background-gradiant-div {
        width: 100% !important;
    }

    .cadre-reglementaire-main-content .cadre-reglementaire-p {
        font-size: 1rem !important;
    }

    .cadre-reglementaire-main-content .cadre-reglementaire-titles {
        font-size: 1.1rem !important;
    }
}

@media only screen and (max-width: 1370px) {
    .cadre-reglementaire-main-content {
        flex-direction: column;
        align-items: center;
    }

    .cadre-reglementaire-main-content .cadre-reglementaire-left-section, .cadre-reglementaire-main-content .cadre-reglementaire-right-section {
        width: 95% !important;
    }

    .cadre-reglementaire-main-content .cadre-reglementaire-left-section .container-title .self-center {
        text-align: center;
    }

    .cadre-reglementaire-main-content .cadre-reglementaire-p {
        font-size: 1.2rem;
    }

    .cadre-reglementaire-main-content .cadre-reglementaire-titles {
        font-size: 1.4rem;
    }

    .cadre-reglementaire-container .background-gradiant-div .background-color-div .container-title {
        font-size: 1.7rem;
    }

    .cadre-reglementaire-main-content .cadre-reglementaire-right-section {
        padding-left: 0% !important;
    }

    .cadre-reglementaire-main-content .cadre-reglementaire-right-section {
        width: 70% !important;
    }

    .cadre-reglementaire-main-content .cadre-reglementaire-right-section, h4 {
        
    }
}