@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
.carousel-container {
    overflow: hidden;
    position: relative;
    width: 80%; 
    margin-left: 10%;
    margin-right: 10%;
}

.logo-scroller {
    display: flex;
    animation-delay:100s;
    animation: scroll 10s linear infinite;
    width: calc(200%); 
}
@keyframes scroll {
    0% {
    transform: translateX(0);
    }
    25%{
        transform: translateX(0);

    }
    50% {
    transform: translateX(calc(-100% / 2));
    }
    75%{
        transform: translateX(calc(-100% / 2));
    }
    }

.Comments-container{
    overflow-x: clip;
    position: relative;
    width: 80%; 
    margin-left: 10%;
    margin-right: 10% !important;
}
.Comments_scroller{
    display: flex;
    animation-delay:100s;
    animation: scrollComment 10s linear infinite;
    width: calc(200%); 
}
@keyframes scrollComment {
    0% {
    transform: translateX(0);
    }
    25%{
        transform: translateX(0);

    }
    50% {
    transform: translateX(calc(-100% / 2));
    }
    75%{
        transform: translateX(calc(-100% / 2));
    }

    }

.Herosection_Text_Title{
    font-family:Montserrat;
}

.Header-text {
    background-color: rgb(7 19 35);
}

.Header-text:hover {
    background-color: rgb(42, 133, 171);
}

 .Header_Box_border:hover{
    background-color:rgb(42,133,171) !important;
} 
.user-page {
    background-color: #071323;
}

.Herosection_firstcomp {
    position: relative;
    text-align: center;
}

.Herosection_Text {
    position: absolute;
    top: 0%;
    left: 0%;
}

footer {
    background-color: #0C1827;
    display: flex;
    justify-content: center;
    width: 100%;
}

footer .footer-container {
    width: 1440px;
    padding-top: 2%;
    flex-wrap: wrap;
}

.footer-list li {
    font-size: 16px;
    list-style: none;
    color: #ffffff;
}

.footer-icons-container {
    width: 325px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.footer-icons-container-size {
    margin-top: 5px;
    height: 40px;
    width: 40px;
    background-color: #39DDF5;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-partenaires-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #ffffff;
    flex-wrap: wrap;
}

.financer-text-background {
    background: url('../backgrounds/FinamcementBackground.png');
    background-position: center;
    background-repeat: no-repeat;
    width: 548px;
    color: #ffffff;
}

.financer-text-background div {
    display: flex;
    justify-content: center;
}

.financer-text-background :nth-child(1) h2 {
    font-family: 'Montserrat';
}

.financer-text-background div p {
    font-family: 'Montserrat';
    font-size: 20px;
}

.hero_main_section {
    width: 87.333333% !important;
}

.profils-background {
    background: url('../backgrounds/FinamcementBackground-v2.png') center center;
    opacity: 20%;
    width: 100%;
    height: 82px;
    background-size: cover;
    position: relative;
}

.button-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.drop-down-style {
    border-bottom: 2.35px solid #39DDF5;
}

.drop-down-style img {
    margin-left: -15px;
}

.contact-first-section-container {
    position: relative;
    
}

.contact-first-section-container .contact-first-section-img {
    width: 100%;
    height: 513px;
    display: flex;
    justify-content: center;
}

.contact-first-section-container .contact-first-section-img img {
    object-fit: cover;
    width: 100%;
}

.contact-first-section-container .contact-first-section-title {
    top: 0;
    width: 100%;
    height: 513px;
    position: absolute;
    display: flex;
    align-items: center;
}

.contact-first-section-container .contact-first-section-title h2 {
    text-shadow:
        -1.5px -1.5px 0 #000,
        1.5px -1.5px 0 #000,
        -1.5px 1.5px 0 #000,
        1.5px 1.5px 0 #000;
}

.contact-text-background {
    background: url('../backgrounds/ContactBackground.png') center center;
    opacity: 20%;
    width: 100%;
    height: 112px;
    background-size: cover;
    position: relative;
}

.contact-text-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-text-container h2 {
    text-align: center;
    width: 44%;
}

@media only screen and (max-width: 570px) {
    footer .footer-container .icon-container {
        width: 90%;
        margin-bottom: 15px;
        padding: 1.7rem;
    }

    .footer-list {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .financement-button-container {
        width: 75%;
        font-size: 1.5rem;
    }

    .financement-button-style {
        width: 100%;
    }

    .img-child-container {
        width: 58%;
    }
}

@media only screen and (max-width: 790px) {
    .footer-icons-container {
        margin-top: 15px;
    }

    .drop-down-style span {
        font-size: 1rem;
        text-align: start;
    }

    .financement-button-style {
        font-size: 1rem;
    }
}

.financement-first-section {
    padding: 80px 0 40 0;
}

@media only screen and (max-width: 510px) {
    .icon-partenaires {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .footer-partenaires-container {
        flex-direction: column;

    }
}

@media only screen and (max-width: 922px) {
    .financement-first-section {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .financement-first-section .text-child-container {
        width: 90%;
    }

    .drop-down-style span {
        font-size: 1.3rem;
        text-align: start;
    }

    .financer-text-background {
        background: none;
        width: 100%;
    }

    .financement-img-container {
        margin: 20px 0 20px 0;
        width: 100%;
    }
}


@media (min-width: 640px) {
    @media not all and (min-width: 1024px) {
        .hero_main_section {
            width: 100% !important;
        }
    }
}

@media only screen and (max-width: 620px) {
    .profils-background {
        display: none;
    }

    .button-container {
        position: initial;
        width: 100%;
    }

    .button-container div {
        flex-direction: column;
    }

    .financement-situation-sections {
        padding: 30px 0 30px 0;
    }

    .img-child-container {
        width: 50%;
    }
}

@media only screen and (max-width: 460px) {

    .financement-situation-title {
        font-size: 1.5rem;
    }

    .img-child-container {
        width: 68%;
    }
}

@media (min-width: 1024px) and (max-width: 1179px) {
    .NavbarLinks{
        width:30% !important;
    }
    .NavbarLinks_menu{
        margin-right:3px;
    }
    .NavBarLinks_button{
        margin-left:3%
    }
}
@media (min-width: 1024px) and (max-width: 1169px) {

    .hero_main_section{
        margin:auto;
    }
    .Herosection_image {
        margin-left:10%;
    }
}
@media (min-width: 640px) and (max-width: 900px) {
    .hero_main_section{
        display:flex;
        flex-direction: column;
        height:100vh;
    }
    .Herosection{
        margin:auto !important;
    }
    .Herosection_image{
        visibility: hidden;
    }
}
@media (min-width: 640px) and (max-width: 1023.5px) {
    .HeroSection_Learningbydoing_main{
        height: fit-content !important;
    }
    .HeroSection_Learningbydoing_main_parentImg{
        margin-left:1%;
        height:84vh;
    }
    .HeroSection_Learningbydoing_main_Img{
        object-fit: contain;    
    }
    .HeroSection_Learningbydoing_text{
        margin-bottom:10%;
        margin-top:0%;
        margin-right:0px !umportant;
    }
    .Herosection_Text_Title_paragraph{
        margin:auto;
        margin-bottom:2%;
    }

}

@media (min-width: 640px) and (max-width: 1148px) {

    .logo-scroller{
        display: flex;
        justify-content: between;  
        gap:3.5%;
    }

}
@media (min-width: 854px) and (max-width: 1100px) {

    .ImproveUrSkills_main{
        height: 100vh !important;
        margin-bottom: 0%;
    }
    .ImproveUrSkills_image_container{
        width:100vw !important;
        height:90vh;

    }
    .ImproveUrSkills_svg{
        visibility:hidden
    }

    .ImproveUrSkills_main_parentImg{
        width:130%;
        height:90%;
        margin:0;
        display:flex;
        justify-content:center;
        align-items: center;

    }
    .ImproveUrSkills_main_Img{
        width:90vw; 
        height:65vh; 
        object-fit: contain;
    }
    .ImproveUrSkills_Text_Title{
        padding-right:2%;
        padding-left:2%;
    }

    .ImproveUrSkills_button{
        width:100%;
        margin:0;
        display:flex;
        justify-content:center
    }
}

@media (min-width: 640px) and (max-width: 853.5px){
    .ImproveUrSkills{
        height:100vh !important;

    }
    .ImproveUrSkills_svg, .ImproveUrSkills_main_parentImg{
        visibility:hidden;
    }
    .ImproveUrSkills_main{
        height:100%;
    }
    .ImproveUrSkills_text{
        width:100vw;
    }
}

@media (min-width: 640px) and (max-width: 900px){
    .Comment_container{
        height:100% !important;
    }
    .Comments_scroller{
        width:80vw !important;
        flex-direction: column;
        animation: none;
        justify-content: center;
        align-items: center;

    }
    .Comment_content{
        width: 100vh !important;
        height:85vh !important;
    }
    .Commeny_content_text{
        width:80vh
    }


}
@media (min-width: 901px) and (max-width: 1073px){
    .Comment_container{
        height:100% !important;
    }
}

@media (min-width: 1101px) and (max-width: 1231px) {

    .ImproveUrSkills_button{
        width:84%;
        padding-left:2%;
        padding-right:2%;
        margin-left:4% !important;
        margin:0;
        display:flex;
        justify-content:center
    }
    .ImproveUrSkills_main{
        height: 100% !important;

    }
    .ImproveUrSkills{
        height: 105vh !important;
    }
    .ImproveUrSkills_main_parentImg{
        width:60%;
        height:100%;
        margin-right:0%;
        margin-top:0%;
        display:flex;
        justify-content:center;
    }
    .ImproveUrSkills_main_Img{
        width:85%;
        object-fit:contain;
    }

}


@media (min-width: 1024px) and (max-width: 1148px) {

    .HeroSection_Learningbydoing_main_parentImg{
        width:60%;
        height:130%;
        
    }
    .HeroSection_Learningbydoing_main_Img{
        height:100% !important;
        width:100% !important;
        object-fit: contain;
    }

    .HeroSection_Learningbydoing_main{
        margin-left:0px;
        margin-right:0px;
        display:flex;
        justify-content: space-around;

    }

    .Herosection_Text_Title_paragraph{
        width:90%;
        margin:auto;
        margin-bottom:2%;
    }

}

  